
/*-------------------------------------------------------------------------------
  import google fonts
-------------------------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Lora:400,700italic);
@import url(https://fonts.googleapis.com/css?family=PT+Serif);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
/*--end of code for fonts------------------------------------------------------*/


/*-------------------------------------------------------------------------------
  style for overview
-------------------------------------------------------------------------------*/
html{
  margin: 0;
  padding: 0;
}
#top{
  display: none;
}

body {
  background-color: #d3d3d3; /*lightgrey*/
  background-position: center top, center bottom;
  background-image: url(/images/bannerbgf.jpg), url(/images/lake.jpg);
  background-repeat: repeat-x;
  margin: 0;
  min-height: 700px;
}

header{ 
  text-align: center;
  font-family: 'lora', Verdana, serif;
}

header #pageTitle{
  background-color: gray;
  font-style: italic;
  font-size: 45px;
  margin-bottom: 0;
}

header #subTitle{
  margin-top: 0;
  background-color: white;
  font-weight: normal;
  }

#container
  { width: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 1em;
    margin-top: 10em;
  }
/*--end of code for overview-----------------------------------------------------*/


/*-------------------------------------------------------------------------------
  style for mainMenu
-------------------------------------------------------------------------------*/
.mainMenu
  {
  background-color: rgba(53, 39, 44, 0.8);
  text-align: center;
  margin: 0;
  }

.mainMenu .current{
  background-color: grey;
}

.mainMenu div 
{
  display: inline-block;
  margin: 0;
  margin-right: 0.2em;
  padding: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.mainMenu a{
  border: 1px solid white;
  border-left-width: 3px;
  height: auto;
  display: inline-block;
  padding: 0.5em;
  margin-top: 0.2em;
  margin-right: 0.2em;
  margin-bottom: 0.2em;
  background-color: #4d4b6d;
  text-transform: capitalize;
  text-decoration: none;
  font-family: 'PT Serif', verdana, serif;
  color: white;
  }

.mainMenu a:hover {
  color: black;
  text-decoration: overline;
}

div[class*="Content"] > div
{
  display:none;
}

div[class*="Content"] div div
{
  width:100%;
  margin: 0;
  padding: 0;
}

div[class*="Content"]:hover > div
{
  background-color: rgba(29, 51, 162, 0.8);
  position: absolute;
  display: block;
}

div[class*="Content"] a
{ text-align: left;
  margin-right: 0;
  display:block;
}
/*--end of code for mainMenu-----------------------------------------------------*/


/*-------------------------------------------------------------------------------
  style for subContainer
-------------------------------------------------------------------------------*/
#subContainer
{ width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}

/*-------------------------------------------------------------------------------
  style for sideMenu
-------------------------------------------------------------------------------*/
.sideMenu
{
  font-family: 'PT Serif', verdana, serif;
  position: fixed;
  width: 16%;
  padding: 0.5em 0% 0% 0;
  margin: 0;
  border-style: none;
  text-align: left;
  min-width: 200px;
}

.sideMenu div 
{ 
  padding: 0;
  margin: 0;
  text-decoration: none;

}

.sideMenu h3
{ font-size: 18px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #b3b3b3;
  letter-spacing: 0.1em;
  border-radius: 1px;
  border-top: 5px double gray;
  border-bottom: 5px double gray; 
  background-color: #68565d;
  text-indent: 1.5em;
  padding: 0.3em;
  margin: 0;
}

.sideMenu a
{ 
  color: white;
  display: block;
  background-color: grey;
  text-decoration: none;
  padding: 0.2em;
  padding-left: 2em;
  margin: 0.2em 0 0.2em 0;
}
.sideMenu a:hover, a:active {
  cursor: pointer;
  color: black;
  text-decoration: overline black;
}

.sideMenu .submenuCurrent{
  background-color: #4d4b6d;
}
/*--end of code for sideMenu-----------------------------------------------------*/


/*-------------------------------------------------------------------------------
  style for subContainerData
-------------------------------------------------------------------------------*/
  /*__overall_style______________________*/

.subContainerData {
  font-family: 'lora', Verdana, serif;
  min-height: 400px;
  padding: 0em 5% 0 5%;
  border-style: none;
  margin-left: 20%;
}

.noSubmenu {
  margin-left: 10%;
  margin-right: 10%;
}

.subContainerData a {
  text-decoration: none;
  color: teal;
  padding:0 0.1em;
}
.subContainerData a:hover {
  color: white;
  background-color: teal;
  border-radius: 2px;
}

.subContainerData p {
  font-family: 'PT Serif', Verdana, serif;
  text-align: justify; 
  /*text-indent: 2em;*/
}

.subContainerData h2{
  text-align: center;
  text-transform: capitalize;
  background-color: #635c8d;
  color: aliceblue;
  padding: 0.3em 0;
  margin-top: 0.4em;
  /*margin-top: 0.5em*/
}

.subContainerData h3 {
  font-size: 150%;
  color: #2F4F4F;/*darkslategray*/
}
.subContainerData h4 {
  margin-top: 0.5em;
  text-transform: uppercase;
  font-size: 100%;
  color: white;
  text-align: center;
  background-color: #2F4F4F;/*darkslategray*/
}
.subContainerData h5 {
  color: green;
  font-size: 100%;
}

.subContainerData h6 {
  color: #191970 ;/*midnightblue*/
  font-size: 16px;
  padding-bottom: 0;
  margin: 0;
  border-left: 5px double darkslategray;
  border-right: 5px double darkslategray;
  width: 45%;
  text-indent: 0.5em;
  text-align: center;
  background-color: rgba(245, 245, 220, 0.5);
}

.subContainerData table
{
  width:100%;
}

.subContainerData table p
{ padding-left: 1em;
  padding-right: 1em;
  padding-top: 0em;
  padding-bottom: 0em;
  text-indent: 0;
  margin: 0.5em;
}

.subContainerData td {
  border-bottom: 1px solid gray;
}

figure img {
  border: 1em double silver;
  background-color: rgb(119, 136, 153);/*lightslategray #778899 */
}
figcaption {
  color: #F0FFF0;/*honeydew rgb(240,255,240)*/
  background-color: rgba(119, 136, 153, 0.8);/*lightslategray #778899*/
  padding: 0.3em 0.5em 0.3em 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  box-shadow: 2px 2px 2px gray;
}
  /*__end_of_code_for_overall_style______*/

/*-------------------------------------------------------------------------------
  style for Accueil
-------------------------------------------------------------------------------*/
#index {
  width: 70%;
  float: right;
  margin: 0;
  padding: 0;
  border-left: 1px solid #aca6a9;
}

#index h4{
  padding-top: 0.5em;
  padding-bottom: 0.5em; 
}

.ActualitésDeLaCommune {
  
}
.LaMairieVousInforme {
  /*background-color: violet;*/
  display: none;
}

.news {
  margin-left: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.newsBody{
  background-color: rgba(176,196,222,0.4);
  box-shadow: 0 1px 1px #B0C4DE;
  overflow: hidden;
  clear: both;
}

/*#news:after {
  content: "Foo";
  visibility: hidden;
  display: block;
  height: 0px;
  clear: both;
}*/

h5.newsTitle {
  color: rgb(50, 50, 70);
  display: inline-block;
  margin: 0;
  cursor: pointer;
  border-bottom: 1px solid #778899;
}

h5.newsTitle:hover {
  background-color: rgba(119,136,153, 0.3);
  box-shadow: 0px -1px 1px gray;
}

span.date {
  float: right;
  color: white;
  letter-spacing: 0.1em;
  background-color: rgba(119,136,153, 0.8);
  padding: 0.1em 0.5em 0 0.4em;
  border-top-left-radius: 0.5em;
  box-shadow: -1px -1px 1px gray;
}

.news p {
  margin: 0;
  padding: 0 0.5em;
}

.news img {
  float: right;
  padding: 0 0.5em;
  margin-top: 1em;
  margin-left: 1em; 
}

.newsdescr {
  padding: 1em;
  
}

.newsdescr a {
  text-decoration: none;
  color: teal;
  padding:0 0.1em;
  margin-left: 1em;
}
.newsdescr a:hover {
  border-bottom: 1px solid teal;
  background-color: transparent;
}

/*---------------------------------------
  style for sidebar
---------------------------------------*/
.sidebar {
  width: 29%;
  float: left;
  overflow: auto;
  margin-top: 0.5em;

}

.sidebar h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  background-color: #4d4b6d;
  color: white;
  padding-left: 0.5em;

}

#newsletters, #misc, #plugins {
}

#plugins {
  margin-bottom: 0.5em;
  padding-bottom: 0.2em;
}

#plugins h3 {
  border-top: 1px solid #aca6a9;
  font-size: 20px;
  margin: 0;
}

#plugins ul {
  text-align: center;
  padding: 0;
  padding-top: 0.5em;
  margin: 0;
}

#plugins li {
  display: inline-block;
}

#counter {
  width: 100px;
}

.entry {
  border-top: 1px solid #aca6a9;
}

.entry h3 {
  font-size: 20px;
  margin: 0;
}

.entry ul {
  list-style-type: none;
  margin:0.5em;
  padding:0;
}

.entry li {
  padding: 0.5em;
  margin-bottom: 0.5em;
  font-family: 'lora', Verdana, serif;
  border-bottom: 1px solid #aca6a9;
}

.entry a {
  text-decoration: none;
  color: black;
}

.entry li:hover {
  /*text-decoration: overline;*/
  background-color: #B0E0E6; /*powderblue*/
  opacity: 0.9;
}

#newsletters {

}
/*--end of code fot sidebar--------------*/

/*--end of code for Accueil------------------------------------------------------*/


/*-------------------------------------------------------------------------------
  style for Tourisme
-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------
  style for hebergTourisme
-------------------------------------------------------------------------------*/
.Line td{
  border-radius: 0 0 0.5em 0.5em;
  background-color: lightsteelblue;
}

.altLine td{
  border-radius: 0 0 0.5em 0.5em;
  background-color: lightslategray;
}

.stars {
  text-shadow: 1px 1px 1px olive;
  color: gold;
}
/*--end of code for hebergTourisme-----------------------------------------*/

/*-------------------------------------------------------------------------------
  style for carteTourisme
-------------------------------------------------------------------------------*/
#map
{
  width:600px;
  height:450px;
  border-style: none;
}
/*--end of code for carteTourisme------------------------------------------------*/
/*--end of code for Tourisme-----------------------------------------------------*/


/*-------------------------------------------------------------------------------
  style for Vie Locale
-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------
  style for initVieScolaire
-------------------------------------------------------------------------------*/
.imgHolydays {
  display: inline-block;
}

.imgHolydays img {
  margin: 0;
  margin-right: 0.1em;
  width: 45%;
}

.schoolAddress {
  width: 70%;
  padding: 0.5em;
  background-color: lightslategray;
  border-top: 0.5em ridge darkslateblue;
  box-shadow: 2px 2px gray;
  border-radius: 0.1em 1em;
}
.schoolAddress p{
  color: rgb(10, 10, 50);
  text-shadow: 1px 1px 0 lightgray;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  /*padding: 0;*/
}
h6.periCat {
  border: none;
  background-color: rgba(135,206,235 , 0.8); /*skyblue*/
  color: darkred;
  border-top: 5px double indianred;
  border-radius: 0 0 5px 5px;
  box-shadow: 2px 2px 2px slategray;
}

#quotient {
  border: 1px solid black;
}

#quotient .quotLine {
  background-color: skyblue;
}

#quotient .quotAltLine {
  background-color: antiquewhite;
}
/*--end of code for initVieScolaire----------------------------------------------*/

/*-------------------------------------------------------------------------------
  style for initDechets
-------------------------------------------------------------------------------*/
h5.trashCat {
  padding:0.5em;
  text-indent: 2.3em;
  background-image: url(/images/Recycling.png);
  background-position: 1% 50%;
  background-repeat: no-repeat;
  color: white;
  background-color: seagreen;
  box-shadow: 0px 4px 1px darkseagreen;
  text-shadow: 1px 1px 0px darkslategray;
}

#initDechets h6 {
  color: #2F4F4F ;
  background-color: darkseagreen;
}
#initDechets ul {
  display: inline-block;
  padding: 0.5em 1.5em 0.5em 2em;
  margin: 0.5em 0;
  background-color: rgba(46, 139, 87, 0.5);
  border-radius: 1em;
}
#initDechets li p {
  margin: 0.3em;
}

.forbidden {
  padding: 0 0.5em;
  color: firebrick;
  background-color: rgba(248, 248, 255, 0.4);
  border-radius: 0.1em;
}
/*--end of code for initDechets--------------------------------------------------*/
/*--end of code for Vie Locale---------------------------------------------------*/


/*-------------------------------------------------------------------------------
  style for Vie Economique
-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------
  style for artisanat and commerces
-------------------------------------------------------------------------------*/
#artisanat, #commerces {
 /*overflow: auto;*/
}

.businesses {
  width: 300px;
  height: auto;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  margin: 1em 1em;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 2px 2px 2px gray;
}

#commerces .businesses {
  height: auto;
}
#commerces h5 {
  text-align: center;
  color: black;
  border-top: 1px double black;
  border-bottom: 1px double black;
  clear: left;
}
 
.businesses h5 {
  border: 1px double black;
  color: black;
  font-size: 17px;
  margin-bottom: 0;
  margin-top: 0.5em;
  margin-right: 1em;
  margin-left: 1em;
}

.businesses div {
  border-top: 1px solid gray;
  margin: 0.5em 0;
  background-color: rgba(102, 205, 170, 0.6);
}

.businesses p {
  text-align: center;
  margin: 0;
}
/*--end of code for artisanat and commerces--------------------------------------*/
/*--end of code for Vie Economique-----------------------------------------------*/

/*-------------------------------------------------------------------------------
  style for Mairie
-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------
  style for Vos démarches
-------------------------------------------------------------------------------*/
.justifFrame {
  height: auto; 
}

.justif {
  width: 45%;
  height: 100%;
  text-align: center;
  margin: 0 0.5em;
  padding-right: 1em;
  vertical-align: top;
  display: inline-block;
  background-color: rgba(176, 196, 222, 0.9);
  border-radius: 1px;
  box-shadow: -1px -1px 1px #778899;
}


.justif h6 {
  border: none;
  text-align: left;
  width: 100%;
  border-top: 2px inset black;
  border-bottom: 2px inset black;
  margin: 0.5em auto;
  background-color: white;
}
.justif p {
  text-align: left;
  margin: 0;
}
/*--end of code for Vos démarches------------------------------------------------*/

/*-------------------------------------------------------------------------------
  style for conseilMunicipal
-------------------------------------------------------------------------------*/
#conseilMunicipal {
  font-family: 'Roboto', sans-serif;
}

#conseilMunicipal table {
  border-collapse: collapse;
  font-size: 18px;
  /*border: 1px solid black;*/
}
#conseilMunicipal table p {
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

#conseilMunicipal tr {
  /*border-bottom: 1px solid gray;*/
}
#conseilMunicipal tr:hover {
  background-color: rgb(200, 210, 200);
  transition-duration: 1s;

}
#conseilMunicipal td {
  border-style: none;
}
#conseilMunicipal td:nth-child(even) {
  width: 30%;
}

.status {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: rgba(255, 255, 240, 0.5);
  padding: 0.3em;
}
.nom {
  font-weight: 500;
  border-bottom: 1px solid rgb(1, 1, 10);
  /*background-color: rgba(211, 211, 211, 0.8);*/
}
.jop {
}

#conseilMunicipal img {
  width: 130px;
  height: 130px;
  margin: 1em;
  margin-right: 0;
/*  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;*/
  box-shadow: 0px 0px 3px gray;
  border-top-right-radius: 75px;
  border-top-left-radius: 75px;
  border-bottom-right-radius: 75px;
  border-bottom-left-radius: 75px;
}
/*--end of code for conseilMunicipal---------------------------------------------*/

/*-------------------------------------------------------------------------------
  style for gestionDesRisques
-------------------------------------------------------------------------------*/
#gestionDesRisques img {
  width: 95%;
}
/*--end of code for gestionDesRisques--------------------------------------------*/

/*-------------------------------------------------------------------------------
  style for horairesContact
-------------------------------------------------------------------------------*/
#horairesContact {
  background-image: url(/images/Mairiebg.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

#horairesContact figure {
  display: block;
  text-align: center;
}
#horairesContact h5 {
  color: white;
  text-align: center;
}

#horairesContact p {
  display: inline-table;
  padding: 0 0.5em;
  text-align: center;
  background-color: rgba(200, 200, 200, 0.5);
}
/*--end of code for horairesContact----------------------------------------------*/

/*-------------------------------------------------------------------------------
  style fot Publications
-------------------------------------------------------------------------------*/
#bullPubli {
  padding-right: 0;
  margin-right: 0;
}

.bulletin {
  /*background-color: blue;*/
  margin-bottom: 1em;
}

.cover {
  margin: 0;
  /*background-color: red;*/
  display: inline-block;
}

.cover img {
  width: 100%;
  max-width: 450px;
}

.cover figcaption {
  border-radius: 0;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  box-shadow: none;
  background-color: 
}

.bulletin ul {
  background-color: rgba(176, 196, 222, 0.5);
  vertical-align: top;
  /*background-color: yellow;*/
  display: inline-block;
  width: 30%;
  min-width: 100px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 4px;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 0;
}

.bulletin li {
  list-style: square;
}

.bulletin h6 {
  border: 0;
  width: 100%;
  font-weight: normal;
  font-size:  20px;
  color: white;
  background-color: transparent;
  border-bottom: 1px solid black;
  text-align: left;
}
.bulletin a {
  display: block;
  color: white;
  background-color: gray;
  margin-top: 0.3em;
  padding: 0.8em;
}

/*--end of code for Publications-------------------------------------------------------*/

/*--end of code for Mairie-------------------------------------------------------*/

/*-------------------------------------------------------------------------------
  style for Numeros D'urgence
-------------------------------------------------------------------------------*/
#urgence {
}

#urgence table {
  width: 100%;
  padding: 1em;
}

#tableUrgence {
  border-radius: 0.2em;
  width:100%;
}

#urgence th{
  text-align: center;
  color: black;
  background-color: lightgrey;
  border-bottom: 1px solid black;
}
#urgence tr:hover {
  background-color: #B0C4DE ; /*lightsteelblue*/
}

#urgence .telTitle{
  padding-left: 0.5em;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

#urgence .telNumber{
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding-left: 2em;
  width: 30%;
}
/*--end of code for Numeros D'urgence--------------------------------------------*/

/*--end of code for subContainerData---------------------------------------------*/
/*--end of code fot subContainer-------------------------------------------------*/

/*-------------------------------------------------------------------------------
  style for logo
-------------------------------------------------------------------------------*/
#pics{
  border-top: 1px solid #aca6a9;
  clear: left;
  text-align: center;
  background-color: rgba(53, 39, 44, 0.8);
  margin:0;
  padding: 0.4em 0 0 0;
  vertical-align: center;
}

#pics ul{
   margin:0;
   padding: 0; 
}

#pics li { 
  width: 15%;
  display: inline-block;
  padding: 0;
  /*border: 1px solid black;*/
  margin-left: 2%;
  margin-right: 2%;
  /*background-color: lightblue;*/

}

#pics img { 
  width: 100%;
  border-radius: 0.5em;
  border: 0.4em solid;
  border-color: #2F4F4F;
  background-color: rgb(119, 136, 153);
  cursor: pointer;
}


#pics a:hover{
  background-color: initial;
}

#pics img:hover{
  border: 0.4em outset;
  border-color: #2F4F4F;
}

/*-------------------------------------------------------------------------------
  style for footer
-------------------------------------------------------------------------------*/


footer {
  text-align: center;
  font-size: small;
}
/*--end of code for footer-------------------------------------------------------*/